/*logo*/

#logo {
    width: 7%;
}


@media all and (min-width: 720px) {
    main {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 4fr 5fr;
        grid-template-areas: "welkom welkom" "openingsuren social";
    }

    .grid-obj-Welkom {
        margin-top: 100px;
    }

}

@media all and (min-width: 1020px) {
    footer span {
        font-size: 30px;
    }

}
