/***************************************************index**************************************************/

/*other*/

#logo {
    width: 10%;
}

/*main*/

article > h1 {
    padding: 5px;
    padding-top: 10px;
}

article p {
    padding: 10px;
    padding-top: 5px;
    margin-top: 0px;
}

/*aside*/

/*table*/

th,
td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

table tr td {

    border-top: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table tr th {
    border-left: 1px solid black;
}

table {
    width: 90%;
    margin: auto;
    border: none;
    border-collapse: collapse;
}

.highlight {
    background-color: hsl(40, 12%, 67%);
}


table td:first-child,
table th:first-child {
    border-left: none;
}

table td:last-child,
table th:last-child {
    border-right: none;
}


/*social media bar*/

.icon-socialmedia {
    width: 10%;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.icon-socialmedia:hover {
    transform: scale(1.15);
}



.box {
    position: relative;
    margin: 10px;
    background-color: hsla(6, 0%, 35%, 0.40);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    display: block;
}

h1 {
    text-align: center;
    font-size: 25px;
}

article > img {
    display: block;
    margin: auto;
    width: 105%;
}


/*footer*/

body footer {
    width: 100%;
    height: 5vh;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 0 !important;
    bottom: 0 !important;
    background-color: hsla(27, 8%, 23%, 1);
    position: relative;
    color: white;
    overflow: hidden;
}

footer > span {
    margin: 7px;

}


footer > span:first-child {
    float: left;
}

footer > span:nth-child(2) {
    float: right;
}

.footer-padding {
    margin-right: 240px;
}


/*navigation*/

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    background: hsla(27, 8%, 23%, 1);
    flex-flow: column wrap;
    position: relative;
}

.navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: block;
    color: white;
}

.navigation a:hover {
    background: hsl(44, 28%, 67%);
    color: black;
    transform: scale(1.1);
}

.navigation li:last-of-type a {
    border-bottom: none;
}

ul > span {
    text-align: center;
    padding: 10px;
    display: block;
    color: white;
    font-size: 26px;
    margin-right: auto;
    margin-left: auto;
}

header > img {
    padding: 15px;
    max-height: 40%;
    width: 12%;
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;

}

.active {
    background: hsl(60, 40%, 60%);
}


/*slideshow*/

body {
    height: 105%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Ubuntu', sans-serif;
}

.diy-slideshow {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40vw;
}

figure > img {
    width: 100%;
}

figure {
    position: absolute;
    opacity: 0;
    transition: 1s opacity;
}

figcaption {
    position: absolute;
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0, 0, 0, .25);
    border-radius: 2px;
}

figcaption a {
    color: #fff;
}

figure.show {
    opacity: 1;
    position: static;
    transition: 2s opacity;
}

.next,
.prev {
    color: #fff;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    top: 50%;
    z-index: 1;
    font-size: 2em;
    margin-top: -.75em;
    opacity: .3;
    user-select: none;
    /* geeft validation error maar is supported (https://caniuse.com/#search=user-select%3A) */
}

.next:hover,
.prev:hover {
    cursor: pointer;
    opacity: 1;
}

.next {
    right: 0;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.prev {
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

p {
    margin: 10px 20px;
    color: black;
}

/*media queries*/

/* regular phone*/

@media all and (min-width: 720px) {
    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .navigation a {
        padding: 1em;
        border-top: none;
        transition: 0.3s;
    }


    header > img {
        position: absolute;
    }

    article > img {
        width: 100%;
        bottom: 200px;
        margin-top: -100px;
    }

    table {
        width: 100%;
    }

    grid-container {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 3fr 6fr 4fr;
        grid-template-areas: "welkom welkom" " special special" "openingsuren social";
    }

    .grid-obj-Welkom {
        grid-area: welkom;
        object-fit: contain;
    }

    .grid-obj-special {
        grid-area: special;
        object-fit: cover;
    }

    .grid-obj-openingsuren {
        grid-area: openingsuren;
        object-fit: cover;
    }

    .grid-obj-social {
        grid-area: social;
        display: block;
        object-fit: cover;
    }
}


/*tablet*/

@media all and (min-width: 1020px) {

    /*index*/
    main {
        grid-template-rows: 4fr 4.5fr 4fr;
        grid-template-columns: 65% 35%;
        grid-template-areas: "welkom welkom" "special openingsuren" "special social";
    }

    h1 {
        font-size: 35px;
    }
    p {
        font-size: 20px;
    }

    /*menu*/
}

/* desktop */

@media all and (min-width: 1280px) {

    /*index*/
    .navigation {
        justify-content: flex-end;
    }

    article > img {
        margin-top: -100px;
    }

    /*menu*/
}

@media all and (min-width: 1920px) {

    h1 {
        font-size: 34px;
    }
    p {
        font-size: 28px;
    }

}


/**********************************about***********************************/

/*logo*/

#logo-abt {
    width: 7%;
}

#logo-menu {
    width: 4%;
    padding: 0.5%;
}


@media all and (min-width: 720px) {
    .grid-main {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 4fr 5fr;
        grid-template-areas: "about about" "openingsuren social";
    }

    .grid-obj-About {
        grid-area: about;
        margin-top: 100px;
    }

}

@media all and (min-width: 1020px) {
    footer span {
        font-size: 20px;
    }

}


/********************************menu****************************************/

.menu-body {
    max-width: 680px;
    margin: 0 auto;
    display: block;
    color: rgb(92, 92, 92);
}

.menu-section {
    margin-bottom: 80px;
}

.menu-section-title {
    font-family: georgia;
    font-size: 50px;
    display: block;
    font-weight: normal;
    margin: 20px 0;
    text-align: Center;
}

.menu-item {
    margin: 35px 0;
    font-size: 18px;
    border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-name {
    font-family: helvetica;
    font-weight: bold;

}

.menu-item-description {
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    font-family: arial;
    margin-top: 0;
}

/*--Icon-grid---*/

.columns {
    column-count: 2;
    -moz-column-count: 2;
    width: 100%;
}

.icon-grid {
    list-style: none;
}

.list {
    text-align: center;
    -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;
}


.icon {
    max-width: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.08);
}

.spacing {
    padding-top: 10vh;
}


@media all and (min-width: 700px) {
    
    .columns {
        width: 200%;
    }

    .icon-grid {
        display: flex;
        margin: 5px 0 0 0;
        flex-direction: row;
        justify-content: center;
    align-items: center;
    text-align: center;
        margin-bottom: 5%;
        margin-right: 20px;
        width: 100%;
    }

    .list {
        height: 7rem;
    }

    .icon {
        width: 100%;
    }
}

/* to top button */

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: hsla(27, 8%, 23%, 1);
    border: 0.5px solid black;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: fixed;
    bottom: 0;
    left: 39%;
    z-index: 2;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\1F781';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 40px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


@media all and (min-width: 720px) {
    .button {
        left: 45%;
    }
}

@media all and (min-width: 1080px) {
    .button {
        width: 200px;
        font-size: 28px;
        left: auto;
        right: 0;
    }
}



/***********************************contact**********************************/

main > section {
    color: black;
    display: block;
}

main {
    width: 100%;
}

div > section > p {
    padding-top: 3%;
}


iframe {
    padding: 1.5%;
    padding-left: 2%;
}


/*form*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

#nieuwOnderwerp {
    display: none;
}

#map {
    height: 100%;
    width: 100%;
}

.map {
    height: 40vh;
}

form > fieldset {
    border: none;
}

form {
    padding: 3%;
}



@media all and (min-width: 720px) {
    .grid-container-cont {
        padding-top: 80px;
        width: 100%;
        display: grid;
        grid-template-columns: 7fr 3fr;
        grid-template-rows: 20vh 70vh 100vh;
        grid-template-areas: "intro intro" "map openingsuren" "formulier fb";
    }

    .grid-obj-intro {
        grid-area: intro;
        width: 100%;
    }

    .grid-obj-map {
        grid-area: map;

    }

    .grid-obj-openingsuren {
        grid-area: openingsuren;

    }

    .formulier {
        grid-area: formulier;

    }

    .grid-obj-fb {
        grid-area: fb;
    }

    .map {
        height: inherit;
    }

}

@media all and (min-width: 880px) {
    #logo-con {
        width: 7%;
    }
    div > section > p {
        padding-bottom: 4%;
    }
}


@media all and (min-width: 1280px) {
    .grid-container-cont {
        grid-template-columns: 4fr 4fr 2fr;
        grid-template-rows: 20vh 60vh 80vh;
        grid-template-areas: "intro intro intro" "map openingsuren fb" "formulier formulier ."
    }

    #logo-con {
        width: 3%;
    }

    div > section > p {
        padding-bottom: 6%;
    }
}
