.menu-body {
    max-width: 680px;
    margin: 0 auto;
    display: block;
    color: rgb(92, 92, 92);
}

.menu-section {
    margin-bottom: 80px;
}

.menu-section-title {
    font-family: georgia;
    font-size: 50px;
    display: block;
    font-weight: normal;
    margin: 20px 0;
    text-align: Center;
}

.menu-item {
    margin: 35px 0;
    font-size: 18px;
    border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-name {
    font-family: helvetica;
    font-weight: bold;

}

.menu-item-description {
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    font-family: arial;
    margin-top: 0;
}

/*--Icon-grid---*/

.columns {
    column-count: 2;
    width: 100%;
}

.icon-grid {
    margin-top: 5xp;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
}



.icon {
    width: 25%;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.08);
}

main {
    padding-top: 10vh;
}


@media only screen and (min-width: 700px) {

    .columns {
        column-count: 1;
    }

    .icon-grid {
        margin: 5px 0 0 0;
        flex-direction: row;
        margin-bottom: 5%;
        margin-right: 20px;
    }

    .left {
        order: 1;
        flex-basis: auto;
    }

    .right {
        order: 2;
        flex-basis: 200px;
    }

    .icon {
        width: 100%;
    }
}

/* to top button */

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: hsla(27, 8%, 23%, 1);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: fixed;
    bottom: 0;
    left: 39%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\1F781';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 40px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


@media all and (min-width: 720px) {
    .button {
        left: 45%;
    }
}

@media all and (min-width: 1080px) {
    .button {
        width: 200px;
        font-size: 28px;
        left: auto;
        right: 0;
    }
}
